

label {
    font-size: 15px;
    color: rgb(226, 226, 226);
    font-family: sans-serif;
}

textarea {
    resize: none;
    box-shadow: none;
    border: 0px;
    border-radius: 3px;
    font-size: 20px;
    height: 23px;
    width: 100%;
    padding: 0;
    max-height: none;
}

textarea:focus {
    border: 0px;
    border-radius: 5px;
    outline: 2px solid rgb(43, 43, 43);
    
}