.title {
    margin: 0px;
    color: white;
    font-family: "Steelfish";
    font-size: 50px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
}

textarea {
    resize: none;
    height: calc(1em+2px);
    padding: 0;

}