@font-face {
    font-family: "Steelfish";
    src: url("../Fonts/steelfish eb.otf");
}

/* Remove margin at top of page */
html {
    margin: 0px;
}

/* Make everything be in front of background */


body {
    /* Green border */
    margin: 25px;
    background: rgb(0, 218, 141);
}

/* Remove scrollbar. Maybe bad idea? */
body::-webkit-scrollbar {
    display: none;
}

.content {
    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: black;
    min-height: calc(100vh - 113px);
    overflow: auto;
    border-radius: 0px 15px 15px 15px;
}

.navbar {
    width: 100%;
    height: auto;
    font-size: 0px;
}

.navbar a {
    display: inline-block;
    margin-right: 3px;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(63, 63, 63);
    border-radius: 10px 10px 0px 0px;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.navbar a.active {
    background-color: rgb(0, 0, 0);
    cursor: default;
}